{% extends 'base.html' %}

{% block title %} Article - {{ object.title }} {% endblock %}

{% block content %}
    <a href="{% url 'article_list' %}" class="text-blue-600 dark:text-blue-500 hover:underline"><-To the list</a>
    <h1 class="text-3xl mb-4">{{ object.title }}</h1>
    <span class="mb-4">by {{ object.author }} | {{ object.date }}</span>
    <p>{{ object.body }}</p>

    <div>
        <a href="{% url 'article_edit' object.pk %}" class="text-blue-600 dark:text-blue-500 hover:underline">Edit</a> |
        <a href="{% url 'article_delete' object.pk %}" class="text-red-600 dark:text-red-500 hover:underline">Delete</a>
    </div>
    <div class="mt-5">
        {% for comment in object.comments.all %}
            <div class="mb-2">
                <span>{{ comment.author }}</span>
                <p>
                    {{ comment }}
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}